services:
  - type: web
    name: emotion-recognition-api
    runtime: python
    buildCommand: "cd Emotion-Backend && pip install -r requirements.txt"
    startCommand: "cd Emotion-Backend && uvicorn main:app --host 0.0.0.0 --port $PORT"
    healthCheckPath: /health
    envVars:
      - key: RENDER
        value: "true"
      - key: DATABASE_URL
        value: "postgresql://your_render_postgres_connection_string_here"
      - key: MONGODB_URL
        value: "mongodb+srv://denzylibe04_db_user:XLR8*xlr8&@emotion.qlircss.mongodb.net/?appName=Emotion"
